/** body  **/

.container {
    max-width: 700px;
}

.shadow {
  color:#d9d9d9;
  text-shadow:rgba(255,255,255,.1) -1px -1px 1px,rgba(0,0,0,.5) 1px 1px 1px;
}


/** profile **/


#profile {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

#profile img {
  border-radius: 200px;
  max-width: 40%;
  padding: 10px;
}

/** projects **/

#projects {
  padding-top: 40px;
}

#projects img {
  padding-bottom: 20px;
}

.img-responsive {
  max-width: 100%;
}
