/** body  **/

body {
  background:url("../img/triangles.png")
}

.container {
    max-width: 700px;
    background-color: white;
}

.shadow {
  color:#d9d9d9;
  text-shadow:rgba(255,255,255,.1) -1px -1px 1px,rgba(0,0,0,.5) 1px 1px 1px;
}

.btn {
  border-radius: 24px;
}

.btn-primary-outline {
  border-color: #007299;
}

.btn-secondary-outline {
  border-color: #a6a6a6;
  color: #a6a6a6;
}

.center-buttons {
  margin-left: 30%;
}



/** profile **/


#profile {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

#profile img {
  border-radius: 200px;
  max-width: 40%;
  margin-top: 20px;
}


/** projects **/

#projects {
  padding-top: 40px;
}

#projects img {
  padding-bottom: 20px;
}

#projects h2 {
    background:url("../img/triangles.png")
}

.img-responsive {
  max-width: 100%;
}
